<!-- <div>
    <ul *ngFor="let item of data$ | async">
        <li>ID: {{ item.id }} </li>
        <li>Name: {{ item.name }} </li>
    </ul>
</div>

<div>
    <li>{{ (person$ | async)?.id }}</li>
    <li>{{ (person$ | async)?.name }}</li>
</div> 

<div class="columns">
    <div class="column">
        <form [formGroup]="reservationForm" (ngSubmit)="makeReservation()">
            <div class="field">
                <label class="label">Full name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Type full name..." formControlName="fullName">
                </div>
            </div>

             Children Array Data 
            <div formArrayName="children" *ngFor="let child of getChildrenControls(); let i = index;">
                <div [formGroupName]="i">
                    <div class="field">
                        <label class="label">Child name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Type name..." formControlName="childName">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Child age</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="Type age..." formControlName="childAge">
                        </div>
                    </div>
                    <button type="button" class="button is-danger" (click)="removeFormControl(i)">Remove Child</button>
                </div>
            </div>

            <button type="button" class="button is-light" (click)="addFormGroup()">Add child</button>
            <button type="submit" class="button is-primary">Make Reservation</button>

        </form>
    </div>
</div> -->


<hr />

<!-- Build in pipes  -->
<h3 class="title is-3">Pipes</h3>
<p>{{ '2022-02-23 18:40:00' | date:"shortTime" }}</p>

<!-- Custom pipes -->
<p> {{ "This is input" | custom }}</p>

<ul *ngFor="let category of 'Kategorija1#Kategorija2#Kategorija3' | custom:'#'">
    <li>{{ category }}</li>
</ul>

<!-- Custom directive -->

<p [customDirective] [defaultColor]="'red'">Paragraph here...</p>