<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>Is active</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
            <td>
                <span class="icon pointer">
                    <i class="fas fa-info"></i>
                </span>
                <span class="icon pointer" (click)="deactivate(user.id)">
                    <i class="fas fa-trash"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>