<div class="columns mt-3">
    <div class="column">
        <span class="icon-panel " style="margin-left: 100px; ">
            <i class="fas fa-phone icon is-medium "></i>
        </span>
        <p style="font-size: 40px; ">066-111-222</p>
    </div>
    <div class="column">
        <span class="icon-panel " style="margin-left: 100px; ">
            <i class="fas fa-envelope icon is-medium "></i>
        </span>
        <p style="font-size: 40px; ">email@email.com</p>
    </div>
</div>

<div class="columns mt-5">
    <div class="column"></div>
    <div class="column">
        <span class="icon-panel mr-5">
            <i class="fab fa-facebook icon is-large" style="cursor: pointer;"></i>
        </span>
        <span class="icon-panel mr-5">
            <i class="fab fa-instagram icon is-large" style="cursor: pointer;"></i>
        </span>
        <span class="icon-panel">
            <i class="fab fa-twitter icon is-large" style="cursor: pointer;"></i>
        </span>
    </div>
    <div class="column"></div>
</div>