<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">

                    <div class="media-content">
                        <p class="title is-4">Administracija Korisnika</p>
                    </div>
                </div>

                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                </div>
            </div>
        </div>
        <div class="card">
            <footer class="card-footer">
                <a class="card-footer-item" routerLink="/admin/users/create">Create</a>
                <a class="card-footer-item" routerLink="/admin/users">Preview</a>
            </footer>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">

                    <div class="media-content">
                        <p class="title is-4">Administracija Rola</p>
                    </div>
                </div>

                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                </div>
            </div>
        </div>
        <div class="card">
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Create</a>
                <a class="card-footer-item" routerLink="/admin/roles">Preview</a>
            </footer>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">

                    <div class="media-content">
                        <p class="title is-4">Administracija Kategorija</p>
                    </div>
                </div>

                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                </div>
            </div>
        </div>
        <div class="card">
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Create</a>
                <a href="#" class="card-footer-item">Preview</a>
            </footer>
        </div>
    </div>
</div>

<hr/>

<router-outlet></router-outlet>