<div class="mt-5">
    <form>
        <div class="field" [formGroup]="productSearchForm">
            <div class="control has-icons-left">
                <input class="input" type="text" formControlName="searchTerm" placeholder="Find products">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
              </span>
            </div>
        </div>
        <hr />
    </form>
</div>

<div class="columns is-multiline">
    <div class="column is-one-quarter" *ngFor="let product of products">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ product.name }}</p>
                        <p class="subtitle is-6">{{ product.category?.name}}</p>
                    </div>
                </div>
                <div class="content">
                    {{ product.description }}
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="button is-primary" (click)="loadMore()" [disabled]="enableButton">Load more...</button>