<div class="columns mt-5">
    <div class="column">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="field">
                <p class="control has-icons-right">
                    <input class="input" type="text" placeholder="Enter your first name..." name="firstName" ngModel>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-right">
                    <input class="input" type="text" placeholder="Enter your last name..." name="lastName" ngModel>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-right">
                    <input class="input" type="text" placeholder="Enter your username..." name="username" ngModel>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-right">
                    <input class="input" type="password" placeholder="Enter your password..." name="password" ngModel>
                    <span class="icon is-small is-right">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="select is-multiple field">
                        <select multiple size="4" name="roles" ngModel>
                            <!-- OVO KUPI SAMO STRING A U BEKU PRIMAM OBJEKAT ROLE -->
                          <option *ngFor="let role of roles">{{ role.name.substring(5) }} </option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary">
                                Sign up
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="column">

    </div>
</div>